/* Bakgrunn og justering */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #644a4a; /* Bakgrunnsfarge */
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* Spillområde */
#game {
  width: 600px;
  height: 600px;
  position: relative;
  background-color: #d3d3d374; /* Lys grå for spillområdet */
  border: 2px solid #333333b9; /* Mørk kant */
  border-radius: 10px; /* Runde hjørner */
  box-shadow: 0 4px 10px rgba(82, 4, 4, 0.224); /* Myk skygge */
}

/* Spillfigur */
#player {
  width: 20px;
  height: 20px;
  background-color: #8cba27; /* Rød-brun farge for spilleren */
  position: absolute;
  left: 300px; /* Start i midten */
  top: 30px;
  border-radius: 30%; /* Gjør figuren rund */
  transition: transform 0.02s ease; /* Jevn bevegelse */
}
